#map {
  margin: auto;
  border: 3px;
  padding: 10px;
}

#btnAddStop {
  position: absolute;
  top: 600px;
  right: 10%;
  width: 5px;
  height: 30px;
}

#confirmBtn {
  position: absolute;
  top: 670px;
  right: 40%;
  width: 200px;
  height: 50px;
  border: 3px;
}

#startTime {
  position: absolute;
  top: 30px;
  right: 10%;
  width: 190px;
}

.mdl-textfield__label {
  position: relative;
  top: 20px;
  right: 20%;
  width: 130px;
  text-align: center;
}

#taxiTypeList,
#pickupLocation,
#dropOffLocation {
  position: absolute;
  top: 40px;
  right: 10%;
  width: 190px;
}
